<nav class="sidebar">
	<div class="sidebar-content">
		<%= link_to administration_path, class: 'sidebar-brand' do %>
			<i class="align-middle" data-feather="box"></i>
			<span class="align-middle">Ruby-T</span>
		<% end %>

		<ul class="sidebar-nav">
			<li class="sidebar-item">
				<%= link_to "Retour à la boutique", root_path, class: "sidebar-link" %>
			</li>
			<li class="sidebar-item">
				<%= link_to "Liste des articles", administration_items_path, class: "sidebar-link" %>
			</li>
			<li class="sidebar-item">
				<%= link_to "Voir les commandes", administration_orders_path, class: "sidebar-link" %>
			</li>
		</ul>

		<div class="sidebar-bottom d-none d-lg-block">
			<div class="media">
				<div class="media-body">
					<h5 class="mb-1 text-white"><%= current_user.email %></h5>
				</div>
			</div>
		</div>

	</div>
</nav>
