<tr>
  <th scope='row'><%= order_item.item.name %></th>
  <td><%= number_to_currency order_item.item.price, unit: '€', separator: ',', format: '%n%u' %></td>
  <td>
    <%= form_for order_item do |f| %>
      <%= f.number_field :quantity %>
      <%= f.submit 'update' %>
    <% end %>
  </td>
  <td><%= number_to_currency order_item.subtotal, unit: '€', separator: ',', format: '%n%u' %></td>
  <td><%= link_to 'Delete', order_item_path(order_item), method: :delete %></td>
</tr>
