<%= link_to "Retourner à la liste de commandes", administration_orders_path, class: "btn btn-link" %>

<div class="display-4">Détail de la commande</div>

<div class="lead">
	<div class="d-flex justify-content-between">
		<div>Numéro de commande : <%= @order.id %></div>
		<div>
			Statut :
			<% if @order.status == "treated" %>
		  	<div class="btn btn-success">Traitée</div>
		  <% else %>
				<div class="btn btn-warning">En attente de traitement</div>
		  <% end %>
		</div>
	</div>

	<div>Date : <%= @order.created_at %></div>
</div>

<br />

<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Nom de l'article</th>
				<th>Prix unitaire</th>
				<th>Quantité</th>
				<th>Sous total</th>
			</tr>
		</thead>
		<tbody>
			<%= render partial: 'orders/order_item', collection: @order_items %>
		</tbody>
	</table>
</div>

<div class="lead">
	<div>Montant total de cette commande : <%= number_to_currency @order.total, unit: "€", separator: ",", delimiter: " ", format: "%n%u" %></div>
</div>

<% if @order.status == "validated" %>
	<div class="d-flex justify-content-center">
		<%= link_to "Passer la commande en 'traitée'", administration_orders_path(id: @order.id), method: :post, data: { confirm: "Êtes-vous sûr ? Vous ne pourrez pas revenir en arrière." }, class: "btn btn-warning btn-lg"%>
	</div>
<% end %>
