<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'layouts/shared/public/header' %>

      <div class="container">
        <%= render 'layouts/shared/flash_messages' %>
        <%= yield %>
      </div>

      <%= render 'layouts/shared/public/footer' %>
    </div>
  </body>
</html>
