<div class="body-content">
  <h2 class="second-title">Votre Profil</h2>

  <div class="container">

    <div class="demo-section">
     <% if !@user.profile.nil? %>
      <p> Bienvenue <strong> <%= @user.profile.first_name  %></strong> <i class="far fa-smile-beam"></i>, voici vos informations.</p>
     <% else %>

      <p> Bienvenue, voici vos informations.</p>


     <% end %>

    </div>

  <%= devise_error_messages! %>
    <div class="tab-wrap">

      <!-- active tab on page load gets checked attribute -->
      <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
       <label for="tab1">Informations</label>

      <input type="radio" id="tab2" name="tabGroup1" class="tab">
      <label for="tab2">Commandes</label>

      <input type="radio" id="tab3" name="tabGroup1" class="tab">
      <label for="tab3">Sécurité </label>

      <div class="tab__content">
        <p><%= render "profile" %></p>
      </div>

      <div class="tab__content">
        <p><%= render "commandes" %></p>
      </div>

      <div class="tab__content">
        <p><%= render "securite" %></p>
      </div>

    </div>


  </div>
</div>
